<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>blog Center</title>
		<meta name="keywords" content="博客中心" />
		<meta name="description" content="博客中心" />
		<link rel="icon" href="/blog/images/vlogo.png" type="image/x-icon"/>
		<link href="/blog/css/styles.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/blog/css/page.css">
	</head>
	
	<body>
		<!-- head  start -->
		<div class="m-head">
			<div class="m-head-nav">
				<ul class="c-wrapper">
					<li class="m-head-nav-logo">
						<a href="#"><img src="/blog/images/vlogo.png" alt="LOGO">个人博客系统</a>
					</li>
		
					<li class="m-head-nav-item">
						<a href="home_page.html">首页</a>
					</li>
		
					<li class="m-head-nav-item active">
						<a href="/blog/getArticleList">博客中心</a>
					</li>
		
					<li class="m-head-nav-item  ">
						<a href="curriculum_vitae.html">个人履历</a>
					</li>
					
					<li class="m-head-nav-item  ">
						<a href="feedback.html">客户反馈</a>
					</li>
		
					<li class="m-head-nav-item  ">
						<a href="product_center.html">产品项目案例</a>
					</li>
		
					<li class="m-head-nav-right merchant-services">
						<a href="#">商家服务</a>
					</li>
					<li class="m-head-nav-right creative-center">
						<a href="/editBlog">创作中心</a>
					</li>
		
				</ul>
			</div>
		</div>
		<!-- head  end -->
		<div class="mainContent">
			<aside>
				<div class="avatar">
					<a href="#"><span>吴霄</span></a>
				</div>
				<section class="topspaceinfo">
					<h1>技术无他,唯有熟尔</h1>
					<p>知其然,也知其所以然，踏实一些</p>
					<p>不要着急，你想要的岁月都会给你</p>
				</section>
				<div class="userinfo">
					<p class="q-fans"> 粉丝：<a href="#">12</a></p>
					<p class="q-fans"> 获赞：<a href="#">25692</a></p>
					<p class="btns"><a href="#">私信</a><a href="#">相册</a><a href="#">存档</a></p>
				</div>
				<section class="taglist">
					<h2>最新文章</h2>
					<ul>
						<li><a href="#"><img src="/blog/images/01.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/02.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/03.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/04.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/05.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/06.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/07.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/08.jpg"></a></li>
					</ul>
				</section>
				<section class="newpic">
					<h2>最新照片</h2>
					<ul>
						<li><a href="#"><img src="/blog/images/01.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/02.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/03.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/04.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/05.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/06.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/07.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/08.jpg"></a></li>
					</ul>
				</section>
				<section class="taglist">
					<h2>分类专栏</h2>
					<ul>
						<li><a href="#">青空</a></li>
						<li><a href="#">情感聊吧</a></li>
						<li><a href="#">study</a></li>
						<li><a href="#">青青唠叨</a></li>
					</ul>
				</section>
				
			</aside>
			<div class="blogitem">
				<article th:each="item : ${collects.list}">
					<h2 class="title"><a th:text="${item.title}"></a><span class="design design-original">原创</span></h2>
					<ul class="text">
						<div  th:utext="${#strings.abbreviate(item.briefIntroduction,150)}"/>
					</ul>
					<div class="textfoot">
						<a href="#">阅读全文</a><a href="#">评论</a><a href="#">转载</a>
					</div>
				</article>
				<div class="page-hear">
					<div id="pager" class="pager clearfix"></div>
				</div>
			</div>
		</div>
		<footer>
			<div class="footavatar">
				<img src="/blog/images/photo.jpg" class="footphoto">
				<ul class="footinfo">
					<p class="fname"><a href="/dancesmile">吴霄</a> </p>
					<p class="finfo">性别：男 年龄：22岁</p>
					<p>现居：辽宁大连</p>
				</ul>
			</div>
			<section class="visitor">
				<h2>最近访客</h2>
				<ul>
					<li><a href="#"><img src="/blog/images/01.jpg"></a></li>
					<li><a href="#"><img src="/blog/images/02.jpg"></a></li>
					<li><a href="#"><img src="/blog/images/03.jpg"></a></li>
					<li><a href="#"><img src="/blog/images/04.jpg"></a></li>
					<li><a href="#"><img src="/blog/images/05.jpg"></a></li>
					<li><a href="#"><img src="/blog/images/06.jpg"></a></li>
					<li><a href="#"><img src="/blog/images/07.jpg"></a></li>
					<li><a href="#"><img src="/blog/images/08.jpg"></a></li>
				</ul>
			</section>
			<div class="Copyright">
				<ul>
					<a href="#">帮助中心</a><a href="#">空间客服</a><a href="#">投诉中心</a><a href="#">空间协议</a>
				</ul>
				<p class="copyright">备案号:<a href="http://www.miit.gov.cn" target="_blank" title="">京ICP备19012730号</a> - 网站名称： <a href="http://www.takeing.cn" title="个人生活分享" target="_blank">个人生活分享</a></p>
			</div>
		</footer>
	</body>
	<script type="text/javascript" src="/blog/js/jquery.min.js"></script>
	<script type="text/javascript" src="/blog/js/jquery.beattext.js"></script>
	<script type="text/javascript" src="/blog/js/easying.js"></script>
	<script type="text/javascript" src="/blog/js/jquery.z-pager.js"></script>
	<script type="text/javascript" th:inline="javascript">
		var pageNum = 1;//当前页数
		var pages = 1;//总页数
		var total = 1;//总条数

		$(function(){
			//获取数据

		});

		$('.topspaceinfo>p').beatText({isAuth:false,isRotate:false});
		var pageInfo= [[${collects}]]
		pageNum = pageInfo.pageNum;//当前页数
		pages =pageInfo.pages;//总页数
		total = pageInfo.total;//总条数
		$("#pager").zPager({
			totalData:total,//数据总条数
			pageData:5,//每页数据条数
			pageCount:pages,//总页数
			current:pageNum+1,//当前页码数
			pageStep:5,//当前可见最多页码个数
			minPage:3,//最小页码数，页码小于此数值则不显示上下分页按钮
			active:'current',//当前页码样式
			prevBtn:'pg-prev',//上一页按钮
			nextBtn:'pg-next',//下一页按钮
			btnBool:true,//是否显示上一页下一页
			firstBtn:'pg-first',//第一页按钮
			lastBtn:'pg-last',//最后一页按钮
			btnShow:true,//是否显示第一页和最后一页按钮
			disabled:true,//按钮失效样式
			ajaxSetData:true,//是否使用ajax获取数据此属性为真时需要url和htmlBox不为空
			url:'',//ajax路由
			htmlBox:''//ajax数据写入容器
		});

		function currentPage(currentPage){
			/*
				触发页码数位置： Page//blog/js/jquery.z-pager./blog/js 64行
			*/
			console.log("当前页码数：" + currentPage);
			this.gitArticle(currentPage);
		}

		function gitArticle(pageNum){
			$.ajax({
				type : "GET",
				url : "/blog/getArticleList",
				data: {pageNum: pageNum},
				success : function(res) {
					console.log(res)
				}
			});
		}
	</script>
</html>
