<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>blog Center</title>
		<meta name="keywords" content="博客中心" />
		<meta name="description" content="博客中心" />
		<link rel="icon" href="/blog/images/vlogo.png" type="image/x-icon"/>
		<link href="/blog/css/styles.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/blog/css/page.css">
	</head>
	
	<body>
		<!-- head  start -->
		<div th:replace="blog/blog_view/header::#topbar(active='article')"></div>
		<!-- head  end -->
		<div class="mainContent">
			<aside>
				<div class="avatar">
					<a href="#"><span>吴霄</span></a>
				</div>
				<section class="topspaceinfo">
					<h1>技术无他,唯有熟尔</h1>
					<p>知其然,也知其所以然，踏实一些</p>
					<p>不要着急，你想要的岁月都会给你</p>
				</section>
				<div class="userinfo">
					<p class="q-fans"> 粉丝：<a href="#">12</a></p>
					<p class="q-fans"> 获赞：<a href="#">25692</a></p>
					<p class="btns"><a href="#">私信</a><a href="#">相册</a><a href="#">存档</a></p>
				</div>
				<section class="taglist">
					<h2>热门文章</h2>
					<ul>
						<li><a href="#"><img src="/blog/images/01.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/02.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/03.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/04.jpg"></a></li>
						<li><a href="#"><img src="/blog/images/05.jpg"></a></li>
					</ul>
				</section>
			</aside>
			<div class="blogitem" id="blogitem">
				<div class="tableData">
<!--					<article>-->
<!--						<h2 class="title"><a>123123</a><span class="design design-original">原创</span></h2>-->
<!--						<ul class="text">-->
<!--							<div>123123</div>-->
<!--						</ul>-->
<!--						<div class="textfoot">-->
<!--							<c class="release_time">发布时间：2020年10月5号  15:30:16</c>-->
<!--							<a href="#">阅读全文</a><a href="#">评论</a><a href="#">转载</a>-->
<!--						</div>-->
<!--					</article>-->
				</div>
				<div class="page-hear" onclick="loading()">
					<div id="pager" class="pager clearfix"><img src="/blog/images/svg/loading.svg"><a>点击加载更多...</a></div>
				</div>
			</div>
		</div>
		<footer>
			<div class="footavatar">
				<img src="/blog/images/photo.jpg" class="footphoto">
				<ul class="footinfo">
					<p class="fname"><a href="/dancesmile">吴霄</a> </p>
					<p class="finfo">性别：男 年龄：22岁</p>
					<p>现居：辽宁大连</p>
				</ul>
			</div>
			<section class="visitor">
				<h2>最近访客</h2>
				<ul>
					<li><a href="#"><img src="/blog/images/01.jpg"></a></li>
					<li><a href="#"><img src="/blog/images/02.jpg"></a></li>
					<li><a href="#"><img src="/blog/images/03.jpg"></a></li>
					<li><a href="#"><img src="/blog/images/04.jpg"></a></li>
					<li><a href="#"><img src="/blog/images/05.jpg"></a></li>
					<li><a href="#"><img src="/blog/images/06.jpg"></a></li>
					<li><a href="#"><img src="/blog/images/07.jpg"></a></li>
					<li><a href="#"><img src="/blog/images/08.jpg"></a></li>
				</ul>
			</section>
			<div class="Copyright">
				<ul>
					<a href="#">帮助中心</a><a href="#">空间客服</a><a href="#">投诉中心</a><a href="#">空间协议</a>
				</ul>
				<p class="copyright">备案号:<a href="http://www.miit.gov.cn" target="_blank" title="">京ICP备19012730号</a> - 网站名称： <a href="http://www.takeing.cn" title="个人生活分享" target="_blank">个人生活分享</a></p>
			</div>
		</footer>
	</body>
	<script type="text/javascript" src="/blog/js/jquery.min.js"></script>
	<script type="text/javascript" src="/blog/js/jquery.beattext.js"></script>
	<script type="text/javascript" src="/blog/js/easying.js"></script>
	<script type="text/javascript">
		var pageInfo = {
			nextPage:''
		}
		$(function(){
			initTable(1,5)
		});
		function initTable(pageNum,pageSize) {
			$.ajax({
				type: "GET",
				url: "/blog/getArticleList",
				data: {pageNum: pageNum,pageSize: pageSize},
				dataType: "json",
				success: function (res) {
					pageInfo.nextPage =res.data.nextPage
					console.log(res)
					if (res.status == 200 && res.data.list != null) {
						var html = "";
						res.data.list.forEach(function (element) {
							html += "<article><h2 class=\"title\"><a>" + element.title + "</a><span class=\"design design-original\">原创</span></h2><ul class=\"text\"><div>" + element.briefIntroduction + "</div></ul><div class=\"textfoot\"><c class=\"release_time\">发布时间："+element.createTime+"</c><a href=\"#\">阅读全文</a><a href=\"#\">评论</a><a href=\"#\">转载</a></div></article>";
						});
						$(".tableData").append(html);
					}
				}
			});
		}
		//点击加载页面数据
		function loading(){
			if(pageInfo.nextPage != 0){
				initTable(pageInfo.nextPage,5)
			}else{
				$(".clearfix>a").html("已经划不动了！就别再点了")
			}
		}
	</script>
</html>
