<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>curriculum vitae</title>
		<meta name="keywords" content="博客中心" />
		<meta name="description" content="博客中心" />
		<link rel="icon" href="blog/images/vlogo.png" type="image/x-icon"/>
		<link href="blog/css/styles.css" rel="stylesheet">
		
		<!-- 个人简历页面css样式 -->
		<link rel="stylesheet" type="text/css" href="blog/css/cv.css"/>
	</head>
	<body>
		
		<!-- head  start -->
		<div class="m-head">
			<div class="m-head-nav">
				<ul class="c-wrapper">
					<li class="m-head-nav-logo">
						<a href="#"><img src="blog/images/vlogo.png" alt="LOGO">个人博客系统</a>
					</li>
		
					<li class="m-head-nav-item">
						<a href="home_page.html">首页</a>
					</li>
		
					<li class="m-head-nav-item">
						<a href="blog_center.html">博客中心</a>
					</li>
		
					<li class="m-head-nav-item  active">
						<a href="curriculum_vitae.html">个人履历</a>
					</li>
					
					<li class="m-head-nav-item  ">
						<a href="feedback.html">客户反馈</a>
					</li>
		
					<li class="m-head-nav-item  ">
						<a href="product_center.html">产品项目案例</a>
					</li>
		
					<li class="m-head-nav-right merchant-services">
						<a href="#">商家服务</a>
					</li>
					<li class="m-head-nav-right creative-center">
						<a >创作中心</a>
					</li>
		
				</ul>
			</div>
		</div>
		<!-- head  end -->
		
		<!-- content start -->
		<div class="mainContent">
				<span class="font-w">个人基本信息</span>
				<div class="boxes">
					<div class="row">
						<div class="vs-col-8 p-t-10">吴霄 | 男 | 1998</div>
						<div class="vs-col-8 p-t-10">本科 | 吉林大学 | 软件工程</div>
						<div class="vs-col-8 p-t-10">java开发工程师 | 1 年工作经验</div>
					</div>
					<div class="row">
						<div class="vs-col-8 p-t-10">期望职位：java中级开发工程师</div>
						<div class="vs-col-8 p-t-10">期望城市：北京、大连</div>
					</div>
				</div>
				<span class="font-w">联系方式</span>
				<div class="boxes">
					<div class="row">
						<div class="vs-col-8 p-t-10">手机：17684331490</div>
						<div class="vs-col-8 p-t-10">Email：superstarliqun@gmail.com</div>
						<div class="vs-col-8 p-t-10">网站：www.takeing.cn</div>
					</div>
				</div>
				<span class="font-w">开源项目</span>
				<div class="boxes">
					<div class="row">
						<div class="p-t-10 vs-border">电影售票系统 - 使用 SSM + HTML + boostarp 构建的个人网站<a class="vs-href" href="https://github.com/SUPERSTARLIQUN/Movie-master">点击访问</a></div>
						<div class="p-t-10 vs-border">初始框架 - 使用 Springboot + shiro + Mybatis + Mysql 构建的基础项目<a class="vs-href" href="https://github.com/SUPERSTARLIQUN/SpringBoot">点击访问</a></div>
					</div>
				</div>
				<span class="font-w">技能掌握</span>
				<div class="boxes">
					<div class="row">
						<div class="p-t-10 vs-border">★熟练掌握 ： 熟悉J2EE体系，熟悉框架Hibernate、MyBatis。</div>
						<div class="p-t-10 vs-border">★熟练掌握 ： JavaScript,Ajax,JQuery,JSON</div>
						<div class="p-t-10 vs-border">★熟练掌握 ： Servlet,Cookie,Session,JDBC，Redis缓存，docker容器，nginx等技术</div>
						<div class="p-t-10 vs-border">★基本运用 ： 熟悉应用服务器软件Tomcat等容器配置和部署，熟悉Maven原理，做过Maven项目</div>
						<div class="p-t-10 vs-border">★基本了解 ： Spring Boot框架，运行原理</div>
						<div class="p-t-10 vs-border">★熟练使用 ： MySQL ，Oracle数据库</div>
						<div class="p-t-10 vs-border">★熟练使用 ： FreeMarker以及Thymeleaf模板引擎</div>
						<div class="p-t-10 vs-border">★熟练使用 ： IDEA,Svn,GIt,Postman,PhotoShop,HBuilder等基本软件</div>
						<div class="p-t-10 vs-border">★基本了解 ： linux基本语言</div>
					</div>
				</div>
				<span class="font-w">工作经验</span>
				<div class="boxes">
					<div class="row p-t-10 vs-border">
						<div class="p-t-10">北京中软国际科技教育股份有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2018-6  ~ 2019-8</div>
						<div class="vs-title p-t-10">java开发工程师</div>
						<div class="evaluate">
							根据客户需求和模型，利用SSH框架，实现中国图学学会的投稿系统的需求分析，数据库原型设计，代码后台编写，和处理后期出现的BUG，利用SpringBoot框架实现公安一所研究院的人脸识别系统门户网站，接口调用，需求分析并协助系统进行维护。
						</div>
					</div>
				</div>
				
				<div class="boxes">
					<div class="row p-t-10 vs-border">
						<div class="p-t-10">成都中慧科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2019-9  ~ 至今</div>
						<div class="vs-title p-t-10">java开发工程师</div>
						<div class="evaluate">
							原型讨论设计，需求分析，代码编写
						</div>
					</div>
				</div>
				<span class="font-w">项目经验</span>
				<div class="boxes">
					<div class="row p-t-10 vs-border">
						<div class="">
							稍后编写
						</div>
					</div>
				</div>
				<span class="font-w">自我评价</span>
				<div class="boxes">
					<div class="row">
						<div class="p-t-10 vs-border evaluate">接触Java两年多，一直对编程有着浓厚的兴趣和热爱，对互联网保持高度的敏感性和关注度。通过学习使自身具有独立分析、设计和开发的能力；编程的规范化，标准化的代码编写习惯。本人性格开朗、为人忠诚老实, 对待工作认真负责、积极主动、善于团队工作；有较强工作压力，能适应一定强度的加班，具备责任心，团队意识、服务意识和创新意识。</div>
					</div>
				</div>
				
		</div>
		<!-- content end -->
	</body>
	<script type="text/javascript" src="blog/js/jquery.min.js"></script>
</html>
