<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>home_page</title>
    <meta name="keywords" content="首页" />
    <meta name="description" content="首页" />
    <link rel="icon" href="blog/images/vlogo.png" type="image/x-icon"/>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <link href="blog/css/styles.css" rel="stylesheet">
    <!-- 首页个人样式文件 -->
    <link rel="stylesheet" type="text/css" href="blog/css/edit_blog.css"/>
</head>
<body>
<!-- head  start -->
<div class="m-head">
    <div class="m-head-nav">
        <ul class="c-wrapper">
            <li class="m-head-nav-logo">
                <a href="#"><img src="blog/images/vlogo.png" alt="LOGO">个人博客系统</a>
            </li>

            <li class="m-head-nav-item active">
                <a href="home_page.html">首页</a>
            </li>

            <li class="m-head-nav-item">
                <a href="/blog/getArticleList">博客中心</a>
            </li>

            <li class="m-head-nav-item">
                <a href="curriculum_vitae.html">个人履历</a>
            </li>

            <li class="m-head-nav-item">
                <a href="feedback.html">客户反馈</a>
            </li>

            <li class="m-head-nav-item ">
                <a href="product_center.html">产品项目案例</a>
            </li>

            <li class="m-head-nav-right merchant-services">
                <a href="#">商家服务</a>
            </li>
            <li class="m-head-nav-right creative-center">
                <a >创作中心</a>
            </li>

        </ul>
    </div>
</div>
<!-- head  end -->
<!-- context start -->
<div class="mainContent">
    <form action="/blog/addBlog" method="post" id="form">
        <input type="text" name="title" class="title_style" placeholder="请输入标题">
        <textarea id="mytextarea" placeholder="请输入博客内容" name="context"></textarea>
        <input type="text" name="briefIntroduction" id="briefIntroduction">
        <div class="button_div" >
            <select name="categoryId" id="categoryId">
                <option value="1">原创</option>
                <option value="2">翻译</option>
                <option value="3">转载</option>
            </select>
            <input type="button" class="button_style" onclick="sub()" value="发布博客">
            <input type="button" class="button_style" value="返回">
        </div>
    </form>
</div>
<!-- context end -->
</body>

<script src="blog/js/tinymce/tinymce.min.js"></script>
<script src="blog/js/tinymce/zh_CN.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: '#mytextarea',
        language:'zh_CN',
        plugins: 'print preview searchreplace autolink directionality visualblocks visualchars fullscreen image link media template code codesample table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount imagetools textpattern help emoticons autosave bdmap indent2em autoresize lineheight formatpainter axupimgs',
        toolbar: 'code undo redo restoredraft | cut copy paste pastetext | forecolor backcolor bold italic underline strikethrough link anchor | alignleft aligncenter alignright alignjustify outdent indent | \
    styleselect formatselect fontselect fontsizeselect | bullist numlist | blockquote subscript superscript removeformat | \
    table image media charmap emoticons hr pagebreak insertdatetime print preview | fullscreen | bdmap indent2em lineheight formatpainter axupimgs',
        height: 650, //编辑器高度
        min_height: 400,
        fontsize_formats: '12px 14px 16px 18px 24px 36px 48px 56px 72px',
        font_formats: '微软雅黑=Microsoft YaHei,Helvetica Neue,PingFang SC,sans-serif;苹果苹方=PingFang SC,Microsoft YaHei,sans-serif;宋体=simsun,serif;仿宋体=FangSong,serif;黑体=SimHei,sans-serif;Arial=arial,helvetica,sans-serif;Arial Black=arial black,avant garde;Book Antiqua=book antiqua,palatino;',
        link_list: [
            { title: '预置链接1', value: 'http://www.tinymce.com' },
            { title: '预置链接2', value: 'http://tinymce.ax-z.cn' }
        ],
        image_list: [
            { title: '预置图片1', value: 'https://www.tiny.cloud/images/glyph-tinymce@2x.png' },
            { title: '预置图片2', value: 'https://www.baidu.com/img/bd_logo1.png' }
        ],
        image_class_list: [
            { title: 'None', value: '' },
            { title: 'Some class', value: 'class-name' }
        ],
        importcss_append: true,
        autosave_ask_before_unload: false,
        images_upload_handler: function (blobInfo, succFun, failFun) {
            var xhr, formData;
            var file = blobInfo.blob();//转化为易于理解的file对象
            xhr = new XMLHttpRequest();
            xhr.withCredentials = false;
            xhr.open('POST', '/demo/upimg.php');
            xhr.onload = function() {
                var json;
                if (xhr.status != 200) {
                    failFun('HTTP Error: ' + xhr.status);
                    return;
                }
                json = JSON.parse(xhr.responseText);
                if (!json || typeof json.location != 'string') {
                    failFun('Invalid JSON: ' + xhr.responseText);
                    return;
                }
                succFun(json.location);
            };
            formData = new FormData();
            formData.append('file', file, file.name );//此处与源文档不一样
            xhr.send(formData);
        }
    });
    //获取无格式内容消息
    function getText(){
        var cnt = tinyMCE.editors["mytextarea"].getContent({ format: 'text' });
        cnt = cnt.split(0,150)
        $("#briefIntroduction").val(cnt)
    }
    //提交表单
    function sub(){
        getText();
        $('#form').submit()
    }
</script>
</html>
