<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>feedback</title>
		<meta name="keywords" content="客户反馈" />
		<meta name="description" content="客户反馈" />
		<link rel="icon" href="blog/images/vlogo.png" type="image/x-icon"/>
		<link href="blog/css/styles.css" rel="stylesheet">
		<!-- 个人简历页面css样式 -->
		<link rel="stylesheet" type="text/css" href="blog/css/fb.css"/>
	</head>
	<body>
		
		<!-- head  start -->
		<div class="m-head">
			<div class="m-head-nav">
				<ul class="c-wrapper">
					<li class="m-head-nav-logo">
						<a href="#"><img src="blog/images/vlogo.png" alt="LOGO">个人博客系统</a>
					</li>
		
					<li class="m-head-nav-item">
						<a href="home_page.html">首页</a>
					</li>
		
					<li class="m-head-nav-item">
						<a href="blog_center.html">博客中心</a>
					</li>
		
					<li class="m-head-nav-item">
						<a href="curriculum_vitae.html">个人履历</a>
					</li>
					
					<li class="m-head-nav-item   active">
						<a href="feedback.html">客户反馈</a>
					</li>
		
					<li class="m-head-nav-item ">
						<a href="product_center.html">产品项目案例</a>
					</li>
		
					<li class="m-head-nav-right merchant-services">
						<a href="#">商家服务</a>
					</li>
					<li class="m-head-nav-right creative-center">
						<a >创作中心</a>
					</li>
		
				</ul>
			</div>
		</div>
		<!-- head  end -->
		
		<!-- content start -->
		<div class="mainContent">
			<div class="text_book">
				<ul>
					<li>	</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>					
				</ul>
			</div>
		</div>
		<!-- content end -->
	</body>
	<script type="text/javascript" src="blog/js/jquery.min.js"></script>
s</html>
