<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>feedback</title>
		<meta name="keywords" content="客户反馈" />
		<meta name="description" content="客户反馈" />
		<link rel="icon" href="blog/images/vlogo.png" type="image/x-icon"/>
		<link href="blog/css/styles.css" rel="stylesheet">
		<!-- 个人简历页面css样式 -->
		<link rel="stylesheet" type="text/css" href="blog/css/fb.css"/>
	</head>
	<body>

	<!-- head  start -->
	<div th:replace="blog/blog_view/header::#topbar(active='feedback')"></div>
	<!-- head  end -->
		
		<!-- content start -->
		<div class="mainContent">
			<div class="text_book">
				<ul>
					<li>	</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>					
				</ul>
			</div>
		</div>
		<!-- content end -->
	</body>
	<script type="text/javascript" src="blog/js/jquery.min.js"></script>
s</html>
