<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>home_page</title>
		<meta name="keywords" content="首页" />
		<meta name="description" content="首页" />
		<link rel="icon" href="blog/images/vlogo.png" type="image/x-icon"/>
		<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
		<link href="blog/css/styles.css" rel="stylesheet">
		<!-- 首页个人样式文件 -->
		<link rel="stylesheet" type="text/css" href="blog/css/hg.css"/>
	</head>
	<body>
	<!-- head  start -->
	<div th:replace="blog/blog_view/header::#topbar(active='home')"></div>
	<!-- head  end -->
		<!-- context start -->
		<div class="mainContent">
			
		</div>
		<!-- context end -->
	</body>
</html>
