<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>home_page</title>
		<meta name="keywords" content="首页" />
		<meta name="description" content="首页" />
		<link rel="icon" href="blog/images/vlogo.png" type="image/x-icon"/>
		<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
		<link href="blog/css/styles.css" rel="stylesheet">
		<!-- 首页个人样式文件 -->
		<link rel="stylesheet" type="text/css" href="blog/css/hg.css"/>
	</head>
	<body>
		<!-- head  start -->
		<div class="m-head">
			<div class="m-head-nav">
				<ul class="c-wrapper">
					<li class="m-head-nav-logo">
						<a href="#"><img src="blog/images/vlogo.png" alt="LOGO">个人博客系统</a>
					</li>
		
					<li class="m-head-nav-item active">
						<a href="home_page.html">首页</a>
					</li>
		
					<li class="m-head-nav-item">
						<a href="blog_center.html">博客中心</a>
					</li>
		
					<li class="m-head-nav-item">
						<a href="curriculum_vitae.html">个人履历</a>
					</li>
					
					<li class="m-head-nav-item">
						<a href="feedback.html">客户反馈</a>
					</li>
		
					<li class="m-head-nav-item ">
						<a href="product_center.html">产品项目案例</a>
					</li>
		
					<li class="m-head-nav-right merchant-services">
						<a href="#">商家服务</a>
					</li>
					<li class="m-head-nav-right creative-center">
						<a >创作中心</a>
					</li>
		
				</ul>
			</div>
		</div>
		<!-- head  end -->
		<!-- context start -->
		<div class="mainContent">
			
		</div>
		<!-- context end -->
	</body>
</html>
