<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Product Center</title>
		<meta name="keywords" content="产品中心" />
		<meta name="description" content="产品中心" />
		<link rel="icon" href="blog/images/vlogo.png" type="image/x-icon"/>
		
		<link rel="stylesheet" type="text/css" href="./blog/css/pc.css"/>
		<link href="blog/css/styles.css" rel="stylesheet">
	</head>
	<body>
	<!-- head  start -->
	<div th:replace="blog/blog_view/header::#topbar(active='product')"></div>
	<!-- head  end -->
		<!-- context start -->
		<div class="mainContent">
			<ul>
				<li>
					<div class="external_halo">
						
					</div>
				</li>
			</ul>
		</div>
		<!-- context end -->
		<!-- head  end -->
	</body>
</html>
