<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Product Center</title>
		<meta name="keywords" content="产品中心" />
		<meta name="description" content="产品中心" />
		<link rel="icon" href="blog/images/vlogo.png" type="image/x-icon"/>
		
		<link rel="stylesheet" type="text/css" href="./blog/css/pc.css"/>
		<link href="blog/css/styles.css" rel="stylesheet">
	</head>
	<body>
		<!-- head  start -->
		<div class="m-head">
			<div class="m-head-nav">
				<ul class="c-wrapper">
					<li class="m-head-nav-logo">
						<a href="#"><img src="blog/images/vlogo.png" alt="LOGO">个人博客系统</a>
					</li>
		
					<li class="m-head-nav-item">
						<a href="home_page.html">首页</a>
					</li>
		
					<li class="m-head-nav-item">
						<a href="blog_center.html">博客中心</a>
					</li>
		
					<li class="m-head-nav-item">
						<a href="curriculum_vitae.html">个人履历</a>
					</li>
					
					<li class="m-head-nav-item">
						<a href="feedback.html">客户反馈</a>
					</li>
		
					<li class="m-head-nav-item active">
						<a href="product_center.html">产品项目案例</a>
					</li>
		
					<li class="m-head-nav-right merchant-services">
						<a href="#">商家服务</a>
					</li>
					<li class="m-head-nav-right creative-center">
						<a >创作中心</a>
					</li>
		
				</ul>
			</div>
		</div>
		<!-- context start -->
		<div class="mainContent">
			<ul>
				<li>
					<div class="external_halo">
						
					</div>
				</li>
				
				
				
				
				
				
				
				
				
				
			</ul>
		</div>
		<!-- context end -->
		<!-- head  end -->
	</body>
</html>
