<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="ui/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="ui/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="http://cdn.bootcss.com/echarts/3.3.2/echarts.min.js"></script>
    <link rel="stylesheet" href="ui/css/amazeui.min.css" />
    <link rel="stylesheet" href="ui/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="ui/css/app.css">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="ui/css/download.css">
</head>
<style>
    .am-u-lg-3{
        width: 14% !important;
    }
</style>

<body data-type="widgets">
<script src="ui/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:;"><img src="ui/img/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
            </div>
            <!-- 搜索 -->
            <div class="am-fl tpl-header-search">
                <form class="tpl-header-search-form" action="javascript:;">
                    <button class="tpl-header-search-btn am-icon-search"></button>
                    <input class="tpl-header-search-box" type="text" placeholder="搜索内容...">
                </form>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:;">欢迎你, <span>Administrators</span> </a>
                    </li>

                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="javascript:;">
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable">
                <div class="tpl-user-panel-profile-picture">
                    <img src="ui/img/user04.png" alt="">
                </div>
                <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              禁言小张
          </span>
                <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
            </div>
        </div>

        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 附加组件</span></li>
            <li class="sidebar-nav-link">
                <a href="index.html">
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 下载
                </a>
            </li>
        </ul>
    </div>


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">下载列表管理</div>


                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <select data-am-selected="{btnSize: 'sm'}" id="modular_type">
                                        <option value="option1">全部类型</option>
                                        <option value="1">模块A</option>
                                        <option value="2">模块B</option>
                                        <option value="3">模块C</option>
                                        <option value="4">模块D</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <a href="javascript:;" class="file">选择文件
                                                <input type="file" name="file" id="file" multiple>
                                            </a>
                                            <a href="javascript:;" class="file cur" onclick="upload()">提交
                                                <input type="text" name="upload"  id="upload">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>模块类型</th>
                                        <th>文件地址</th>
                                        <th>文件名称</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    <tr class="gradeX" th:each="list:${list.list}">

                                        <td th:text="${list.id}"></td>
                                        <td th:switch = "${ list.fileType}" >
                                            <div th:case="1" th:text = "A模块" >qwe</div>
                                            <div th:case="2" th:text = "B模块" >1qwe</div>
                                            <div th:case="3" th:text = "C模块" >rwe</div>
                                            <div th:case="4" th:text = "D模块" >qweqwe</div>
                                        </td>
                                        <td th:text="${list.fileAddress}"></td>
                                        <td th:text="${list.originalName}"></td>
                                        <td th:text="${#dates.format(list.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>

                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a class="tpl-table-black-operation-del" th:href="@{/download/{id}(id = ${list.id})}">
                                                    <i class="am-icon-pencil"></i> 下载
                                                </a>
                                            </div>
                                        </td>

<!--                                        <td th:text="${user.name}"></td>-->
<!--                                        <td th:text="${user.email}"></td>-->
<!--                                        <td><a th:href="@{/edit/{id}(id=${user.id})}">修改</a></td>-->
<!--                                        <td><a th:href="@{/delete/{id}(id=${user.id})}">删除</a></td>-->
                                    </tr>


                                    <!-- more data -->
                                    </tbody>
                                </table>
                            </div>
<!--                            <div class="am-u-lg-12 am-cf">-->

<!--                                <div class="am-fr">-->
<!--                                    <ul class="am-pagination tpl-pagination">-->
<!--                                        <li class="am-disabled"><a href="#">«</a></li>-->
<!--                                        <li class="am-active"><a href="#">1</a></li>-->
<!--                                        <li><a href="#">2</a></li>-->
<!--                                        <li><a href="#">3</a></li>-->
<!--                                        <li><a href="#">4</a></li>-->
<!--                                        <li><a href="#">5</a></li>-->
<!--                                        <li><a href="#">»</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="http://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
<script src="ui/js/amazeui.datatables.min.js"></script>
<script src="ui/js/dataTables.responsive.min.js"></script>
<script src="ui/js/app.js"></script>

</body>
<script type="text/javascript">
    function upload(){
        var files = $('input[name="file"]').prop('files');
        var formData = new FormData();
        for(var i = 0;i<files.length;i++){
            formData.append("fileList["+i+"]",files[i]);
        }
        formData.append("fileType",$("#modular_type").val());
        $.ajax({
            type: "POST",
            url: "/upload",
            data: formData,
            processData: false,//重要
            contentType: false,//重要
            traditional: true,
            // dataType: "json",
            success: function (res) {
                console.log(res)
            }
        });
    }

</script>


</html>