@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
}
.mainContent{
	background-color: #ffffff;
	padding-top: 30px;
	/* 弹性盒子 */
	display: flex; 
	/* 排列规则 */
	flex-direction: column;
}
.font-w{
	font-weight: 900;
	font-size: 18px;
	border-left:5px solid #36E333;
	margin-left: 20px;
	padding-left: 15px;
	/* margin-bottom: 20px; */
}
.boxes{
	background-color: #f5f5f5;
	width: 94%;
	margin: 24px auto;
	font-size: 14px;
	border-radius: 4px;
}
.vs-border{
	margin-left: 20px;
	padding-left: 15px;
}
.row{
	width: 100%;
}
.p-t-10{
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}
.vs-col-12 {
    width: 50%;
}
.vs-col-8 {
    width: 33.33333%;
}
.vs-col-6 {
    width: 25%;
}
.vs-col-4 {
    width: 16.66667%;
}
[class*=vs-col-] {
    float: left;
    box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
}
.evaluate{
	text-indent:2em;
	line-height: 35px;
	margin: 10px 20px 10px 10px;
}
.vs-href{
	color: blue;
	margin-left: 20px;
}
.vs-href:hover{
	color: red;
	border: 1px solid red;
	border-radius: 4px;
}
.vs-title{
	font-weight: 800;
	font-size: 15px;
}

