body{
    background-color:transparent;
}
input{
    height: 39px;
    width: 67%;
    margin: 6px 0px;
    padding: 0px 15px;
    font-size: 14px;
    line-height: 1.5;
    outline: none;
    border: 1px solid transparent;
    background: #f5f5fa;
    border-radius: 10px;
    transition: border-color .25s;
}
input[type="text"]:focus{
    border:1px solid #0079FF;
    box-shadow: 0 0 4px #0079FF;
}
.footer {
    position: fixed;
    bottom: 0;
}
.Copyright{
    margin: 0
}
.context{
    text-align: center;
    vertical-align: middle;
}
.container-main{
    width: 100%;
    overflow: auto;
    display: -webkit-flex;
    background:url("/blog/images/login_bg.jpg") no-repeat;
    background-size: cover;
    position: fixed;
    top: 46px;
    bottom: 37px;
    left: 0;
}
.main{
    width: 370px;
    min-height: 465px;
    box-shadow:  0 2px 12px 0 rgba(0,0,0,.1);
    transition: 0.3s;
    border-radius: 10px;
    border: 1px solid #ebeef5;
    overflow: hidden;
    color: #303133;
    /*定位卡片位置*/
    position: absolute;
    right: 10%;
    top: 50%;
    padding-top: 40px;
    background-color: white;
    transform: translateY(-50%);
}
.main_title{
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    padding-top: 12px;
    color: #3d3d3d;
}
.register_style{
    text-align: right;
    margin-right: 65px;
}
.register_style>span{
    color: blue;
    cursor:pointer
}
.other{
    margin: 9px 35px;
    text-align: center;
    border-top: solid #ACC0D8 1px;
    position: absolute;
    bottom: 0;
    left: 17%
}
.forget{
    text-align: right;
    padding-right: 63px;
}
.sub-style{
    display:block;
    margin-left:auto;
    margin-right:auto;
    background: #b7faff;
}
.sub-style:hover{
    background: #a3e0ff;
    cursor:pointer;
}
.code{
    width: 120px;
}
.code-one, .code-tow{
    display: inline;
}
.verification-code{
    text-align: center;
}
.remember>input{
    height: 10px;
    width: 25px;
}
.remember{
    float: left;
    width: 126px;
    display: inline;
}