<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Blog Center</title>
    <meta name="keywords" content="博客中心" />
    <meta name="description" content="博客中心" />
    <link rel="icon" href="blog/images/vlogo.png" type="image/x-icon"/>
    <link href="blog/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="blog/css/login.css">
</head>

<body>
<!-- head  start -->
<div class="m-head">
    <div class="m-head-nav">
        <ul class="c-wrapper">
            <li class="m-head-nav-logo">
                <a href="#"><img src="blog/images/vlogo.png" alt="LOGO">个人博客系统</a>
            </li>
            <li class="m-head-nav-item">
                <a href="home_page.html">首页</a>
            </li>
            <li class="m-head-nav-item active">
                <a href="blog_center.html">博客中心</a>
            </li>
            <li class="m-head-nav-item  ">
                <a href="curriculum_vitae.html">个人履历</a>
            </li>
            <li class="m-head-nav-item  ">
                <a href="feedback.html">客户反馈</a>
            </li>
            <li class="m-head-nav-item  ">
                <a href="product_center.html">产品项目案例</a>
            </li>
            <li class="m-head-nav-right merchant-services">
                <a href="#">登录/注册</a>
            </li>
            <li class="m-head-nav-right creative-center">
                <a >创作中心</a>
            </li>
        </ul>
    </div>
</div>
<div class="container-main">
    <div class="main">
        <div class="main_title">欢迎登陆个人博客系统</div>
        <div class="context">
            <input type="text" placeholder="手机号/邮箱/用户名">
            <input type="text" placeholder="密码">
        </div>
        <div class="forget">忘记密码</div>
        <div><input type="button" value="登录"></div>
        <div>没有账号？<span>立即注册</span></div>
        <div class="other">QQ 支付宝 微信  百度 新浪 github</div>
    </div>
</div>
<footer class="footer">
    <div class="Copyright">
        <ul>
            <a href="#">帮助中心</a><a href="#">空间客服</a><a href="#">投诉中心</a><a href="#">空间协议</a>
        </ul>
        <p class="copyright">备案号:<a href="http://www.miit.gov.cn" target="_blank" title="">京ICP备19012730号</a> - 网站名称： <a href="http://www.takeing.cn" title="个人生活分享" target="_blank">个人生活分享</a></p>
    </div>
</footer>
</body>
<script type="text/javascript" src="blog/js/jquery.min.js"></script>
</html>
